* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

img{
    width: 400px;
}

a {
    text-decoration: none;
    color: rgb(197, 197, 197);
}

/* == header == */

header {
    background-color: oklch(25.7% 0.09 281.288);
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marca h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.busca input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
}

.menu {
    margin-top: 10px;
}
.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s ease;
}
.menu a:hover {
    color: #333;
}

/* == main == */

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.informacoes {
    display: inline-block;
    width: 500px;
}

.conteudoprincipal {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.informacoes img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-top: 10px;
}

.preco {
    color: oklch(62.3% 0.214 259.815);
}
.preco button {
    padding: 12px 25px;
    background-color: #3483fa;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: 45px;
}
.preco button:hover {
    background-color: #2968c8;
}

.informacoesuteis ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.maisdetalhes {
    margin-top: 30px;
}

.medidas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    text-align: center;
}

.medidas div {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 6px;
    width: 150px;
}

/* == footer == */

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    margin-top: 40px;
    text-align: center;
}

footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer .botaotopo {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    padding: 10px 60px;
    border-radius: 4px;
    margin-bottom: 20px;
}


footer p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #aaa;
}

.containerinformacoes {
    display: flex;
    gap: 200px;
    justify-content: center;
}
